body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    position: relative;
}

.background-square {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: black;
    top: 100px;
    left: 100px;
    z-index: 0;
}

header {
    position: relative;
    z-index: 1;
    padding: 40px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.highlight-orange {
    color: #e86830;
}

.info {
    display: flex;
    justify-content: center;
    padding: 40px;
    z-index: 1;
    position: relative;
}

.text-container {
    width: 60%;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.back-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    width: 200px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #777;
}

